.full_width_button{
    display: block;
    width: 100%;
}
.content{
    display: none;
    overflow: hidden;
}
.buttonGroup{
    display: block;
    width: 100%;
}

.html-view  {
    background: #555;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
    background-color: #3B3B3B !important;
    -webkit-box-shadow: 0 0 0 30px #3B3B3B inset !important;
}
