.full_width_button{
    display: block;
    width: 100%;
}
.content{
    display: none;
    overflow: hidden;
}
.buttonGroup{
    display: block;
    width: 100%;
}

.html-view  {
    background: #555;
}